[submodule "firmware/system-lib"]
	path = firmware/system-lib
	url = git@github.com:lflaherty/evfirmware-lib.git
[submodule "tools/ecu-config"]
	path = tools/ecu-config
	url = git@github.com:lflaherty/evEcuConfig.git
[submodule "sim/powertrain-sim"]
	path = sim/powertrain-sim
	url = git@github.com:lflaherty/evsimulation.git
[submodule "firmware/control-lib"]
	path = firmware/control-lib
	url = git@github.com:lflaherty/evcontrol-lib.git
[submodule "sim/hardware-sim"]
	path = sim/hardware-sim
	url = git@github.com:lflaherty/evhardwaresim.git
[submodule "firmware/vcu"]
	path = firmware/vcu
	url = git@github.com:lflaherty/evfirmware-vcu.git
	branch = master
[submodule "firmware/vcu-proto"]
	path = firmware/vcu-proto
	url = git@github.com:lflaherty/evfirmware-vcu-proto.git
[submodule "firmware/inverter-proto"]
	path = firmware/inverter-proto
	url = git@github.com:lflaherty/evfirmware-inverter-proto.git
[submodule "third_party/Unity"]
	path = third_party/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
